body{
    background-image: url(./images/temp1.avif);
    background-repeat:space;
    background-size:cover;
    background-position: center;
    height:1000px;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
a{
    color: blue;
}
.name
{
    position:absolute;
    text-align: center;
    
}
.img
{
    border-radius:50%;
    border-width: 2%;
    height:15%;
    width:15%;
}
.about
{
    height: 200px;
    width:300px;
    background-color:bisque;
    margin-left: 300px;
}

.edu
{
    height: 200px;
    width:300px;
    background-color:azure;
    margin-left: 600px;
    position:relative;
}

.skill
{
    height: 200px;
    width:300px;
    background-color:blanchedalmond;
    margin-left: 300px;
    
}