body{
    background-image: url(./images/34.avif);
    background-repeat:space;
    background-size:cover;
    background-position: center;
    height:1000px;
    
    display: flex;
    justify-content: center; 
    align-items: center;
}
h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
h1{
    color:grey;
}
a{
    color:black;
}
.name
{
    position:absolute;
    text-align: center;
    
}
.img
{
    border-radius:50%;
    border: 10px solid rgb(19, 24, 11);
    border-width: 2%;
    height:15%;
    width:15%;
}
.about
{
    height: 200px;
    width:300px;
    background-color:dimgray;
    margin-left: 500px;
    height:160px;
    border: 10px solid rgb(19,24,11);
}

.edu
{
    height: 200px;
    width:300px;
    background-color:dimgray;
    margin-left: 300px;
    position:relative;
    height:160px;
    vertical-align: bottom;
    line-height: 100%;
    border: 10px solid rgb(19,24,11);
}

.skill
{
    height: 200px;
    width:300px;
    background-color:dimgray;
    margin-left: 100px;
    height:160px;
    border: 10px solid rgb(19,24,11);
    
    
}